@mixin hover-opac($duration: 0.4s) {
  transition: $duration ease;
  &:hover {
    color: var(--color-primary);
    opacity: 0.9;
  }
}

//BOUNCE
@mixin bounce {
  animation: bounce 1.2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

//GLOW
@mixin default {
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.06),
    inset 0 0 12px rgba(255, 255, 255, 0.1);
}

@mixin hover {
  box-shadow:
    inset 0 0 0 1px #557792,
    inset 0 0 16px rgba(85, 119, 146, 0.4);
}

// TYPING TEXT
@mixin typing-fill($duration: 5s, $steps: 18) {
  animation: typingFillText $duration steps($steps, end) infinite;
}

@mixin typing-cursor-move($duration: 5s, $steps: 18) {
  animation: typingCursorMove $duration steps($steps, end) infinite;
}

@mixin typing-cursor-blink($duration: 0.8s) {
  animation: typingCursorBlink $duration step-end infinite;
}

@mixin typing-cursor($duration: 5s, $steps: 18, $blink-duration: 0.8s) {
  animation:
    typingCursorMove $duration steps($steps, end) infinite,
    typingCursorBlink $blink-duration step-end infinite;
}

@keyframes typingFillText {
  0% {
    width: 0;
  }

  60%,
  100% {
    width: 100%;
  }
}

@keyframes typingCursorMove {
  0% {
    left: 0;
  }

  60%,
  100% {
    left: 100%;
  }
}

@keyframes typingCursorBlink {
  50% {
    opacity: 0;
  }
}
