.header {
  background: rgba(16, 17, 25, 0.65);
  height: 90px;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  .nav {
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;

    .logo {
      text-decoration: none;
      display: inline-block;
      color: var(--text-color-white);
      font: var(--font-s);
      transform: rotate(-10deg);
      .top {
        display: block;
        font: var(--font-xl);
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 44px;
    }

    .link {
      display: inline-flex;
      align-items: baseline;
      gap: 6px;

      &::before {
        content: "[ " attr(data-number) " ]";
        color: currentColor;
        font-family: var(--font-family);
        font-size: calc(var(--font-size-s) / 1.5);
        line-height: 1;
        opacity: 0.55;
      }
    }

    .login {
      margin-left: auto;
    }
  }
}
